@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("../public/font/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../public/font/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../public/font/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../public/font/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../public/font/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3c7ecd;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif !important;
}
.ct-container {
  max-width: 1140px;
  padding: 0 20px ;
  width: 100%;
  margin: 0 auto
  
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #fff5f5, #e9f0fa);
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(100, 100, 100, 0.15);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1a4e8a, #153a66);
  border-radius: 8px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(26, 78, 138, 0.6);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet.custom-bullet {
  background-color: #9ca3af !important;
  opacity: 1 !important;
  width: 10px !important;
  /* smaller width */
  height: 10px !important;
  /* smaller height */
  margin: 0 4px !important;
  /* slightly tighter spacing */
  border-radius: 50% !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
}


.swiper-pagination {
  bottom: 0 !important;
  position: relative !important;
  margin-top: 30px !important;
  text-align: center !important;
}

.swiper-pagination-bullet.custom-bullet:hover {
  background-color: #4b5563 !important;
}

.swiper-pagination-bullet-active.custom-bullet-active:hover {
  background-color: #000000 !important;
}
.swiper-pagination-bullet-active{
  background-color: var(--primary) !important;
}